*{
    margin: 0;
    padding: 0;
}

.body-box::before{
    content: '';
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-image: url('random\ background\ image.png');
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.body-box{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;   
    overflow: hidden;
    animation-name: falldown2;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;

}

@keyframes falldown2{
    0%{
        transform: translateY(-10vh);
    }
    100%{
        transform: translateY(0vh);
    }
}


h1{
    font-family: 'Do Hyeon', sans-serif;
    color: rgb(255, 17, 0);
    margin: 20px auto 5px;
    
}

.container{
    height: 250px;
    width: 800px;
    background-color: rgba(255, 211, 211, 0.9);
    border: 2px solid rgb(255, 0, 0);
    border-radius: 15px;
    box-shadow: 5px 5px 4px grey;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center; 
    animation-name: falldown;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;

}

@keyframes falldown{
    0%{
        transform: translateY(-30vh);
        transform: scale(1.1,1.1);
    }
    50%{
        transform: translateY(0vh);
        transform: scale(0.9,0.9);
    }
    
    100%{
        transform: scale(1.1,1.1);
    }
}

form{
    text-align: center;
}

label{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 28px;
    color: rgb(0, 89, 255);
    padding: 3px;
    margin: 20px 10px ;
}


input{
    color: rgb(0, 89, 255);
    background-color: whitesmoke;
    border: 2px solid rgb(163, 163, 255);
    border-radius: 3px;
    font-size: 20px;
    padding: 3px;
    margin: 20px 10px ;
}

.chars{
    font-size: 20px;
    margin-bottom:15px;
    cursor: pointer;
}

button{
    background-color: whitesmoke;
    color: steelblue;
    font-size: 20px;
    padding: 7px;
    border:1px solid blue;
    border-radius:5px;
    margin: 15px;
    width: 5vw;
}

#icon{
    color: rgb(0, 0, 0);
}